.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.clearfix:before,
.clearfix:after {
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fit {
  max-width: 100%;
}

.truncate {
  display: inline-block;
  overflow: hidden;
}

.max-width-1 {
  max-width: 24rem;
}

.max-width-2 {
  max-width: 32rem;
}

.max-width-3 {
  max-width: 48rem;
}

.max-width-4 {
  max-width: 64rem;
}

.border-box {
  box-sizing: border-box;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: 0.5rem;
}

.m2 {
  margin: 1rem;
}

.m3 {
  margin: 2rem;
}

.m4 {
  margin: 4rem;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 0.5rem;
}

.p2 {
  padding: 1rem;
}

.p3 {
  padding: 2rem;
}

.p4 {
  padding: 4rem;
}

body h1,
body .h1 {
  display: block;
}

body h2, body .h2 {
  position: relative;
  display: block;
}

body h4,
body h5,
body h6 {
  display: inline;
}

body hr {
  margin: 0;
}

body sup,
body sub {
  position: relative;
}

body sup {
  top: -0.5em;
}

body sub {
  bottom: -0.2em;
}

body table {
  width: 100%;
  overflow: auto;
  display: block;
}

body th {
  padding: 8px;
}

body td {
  padding: 0 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  flex: 1;
}

.content {
  position: relative;
  display: flex;
  min-height: 100%;
}

.max-width {
  max-width: 48rem;
}

#header {
  margin: 0 auto 2rem;
  width: 100%;
}

#header #logo {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
}

#header #nav ul {
  margin: 0;
  padding: 0;
}

#header #nav ul li {
  display: inline-block;
}

#header #nav ul .icon {
  display: none;
}

#header-post {
  position: fixed;
  top: 2rem;
  right: 0;
  display: inline-block;
  float: right;
  z-index: 100;
}

#header-post ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#header-post ul li {
  display: inline-block;
}

#header-post #menu-icon {
  float: right;
}

#header-post #menu-icon-tablet {
  float: right;
}

#header-post #top-icon-tablet {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

#header-post #menu {
  visibility: hidden;
}

#header-post #actions {
  float: right;
  width: 100%;
}

#header-post #actions ul {
  display: block;
}

#header-post #actions .info {
  display: block;
}

#header-post #share {
  clear: both;
}

#header-post #share li {
  display: block;
  margin: 0;
}

#header-post #toc {
  float: right;
  clear: both;
  overflow: auto;
  max-width: 20em;
  max-height: calc(95vh - 7rem);
}

#header-post #toc .toc-level-1 > .toc-link {
  display: none;
}

#header-post #toc .toc-level-5 {
  display: none;
}

#header-post #toc .toc-level-6 {
  display: none;
}

#header-post #toc .toc-number {
  display: none;
}

#footer-post {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000000;
  width: 100%;
}

#footer-post #nav-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer-post #nav-footer ul li {
  display: inline-table;
  padding: 10px;
  width: 20%;
}

#footer-post #actions-footer {
  overflow: auto;
  width: 100%;
}

#footer-post #actions-footer a {
  display: inline-block;
}

#footer-post #share-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer-post #share-footer ul li {
  display: inline-table;
  padding: 10px;
  width: 20%;
}

#footer-post #toc-footer {
  clear: both;
}

#footer-post #toc-footer ol {
  margin: 0;
}

#footer-post #toc-footer .toc-level-1 > .toc-link {
  display: none;
}

#footer-post #toc-footer .toc-level-4 {
  display: none;
}

#footer-post #toc-footer .toc-level-5 {
  display: none;
}

#footer-post #toc-footer .toc-level-6 {
  display: none;
}

#footer-post #toc-footer .toc-number {
  display: none;
}

.post-list {
  padding: 0;
}

.post-list .post-item .meta {
  display: block;
  min-width: 100px;
}

.project-list {
  padding: 0;
}

.project-list .project-item p {
  display: inline;
}

article header .postdate {
  display: inline;
}

article .content h2:before {
  position: absolute;
  top: -4px;
  left: -1rem;
}

article .content img,
article .content video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

article .content .video-container {
  position: relative;
  overflow: hidden;
  height: 0;
}

article .content .video-container iframe,
article .content .video-container object,
article .content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .content blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
}

article .content blockquote p {
  margin: 0;
}

article .content blockquote footer {
  margin: line-height 0;
}

article .content blockquote footer cite:before {
  padding: 0 0.5em;
}

article .content .pullquote {
  margin: 0;
  width: 45%;
}

article .content .caption {
  position: relative;
  display: block;
}

#archive .post-list {
  padding: 0;
}

#archive .post-list .post-item .meta {
  display: block;
  min-width: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline-block;
}

#footer .footer-left {
  height: 20px;
}

.pagination {
  display: inline-block;
  width: 100%;
}

.pagination a {
  padding: 4px 6px;
}

.search-input {
  padding: 4px 7px;
  width: 100%;
}

#search-result ul.search-result-list {
  padding: 0;
}

#search-result li {
  margin: 2em auto;
}

#search-result p.search-result {
  overflow: hidden;
  margin: 0.4em auto;
  max-height: 13em;
}

.search-no-result {
  display: none;
}

#tag-cloud .tag-cloud-tags {
  clear: both;
}

#tag-cloud .tag-cloud-tags a {
  display: inline-block;
  margin: 10px;
}

.tooltipped {
  position: relative;
}

.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 0.2em 0.5em;
}

.tooltipped::before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
}

.tooltipped:hover::before,
.tooltipped:active::before,
.tooltipped:focus::before,
.tooltipped:hover::after,
.tooltipped:active::after,
.tooltipped:focus::after {
  display: inline-block;
}

.tooltipped-s::after,
.tooltipped-sw::after {
  top: 100%;
  right: 50%;
}

.tooltipped-s::before,
.tooltipped-sw::before {
  top: auto;
  right: 50%;
  bottom: -7px;
}

pre {
  padding: 10px 15px;
}

pre code {
  display: block;
  padding: 0;
}

code {
  padding: 0 5px;
}

.highlight {
  margin: 1rem 0;
  padding: 10px 15px;
}

.highlight figcaption {
  margin: -5px 0 5px;
}

.highlight figcaption a {
  float: right;
}

.highlight figcaption:before,
.highlight figcaption content: "" {
  display: table;
}

.highlight figcaption:after {
  clear: both;
}

.highlight .btn-copy {
  position: absolute;
  right: 20px;
}

.highlight pre {
  margin: 0;
  padding: 0;
}

.highlight table {
  width: auto;
}

.highlight .line {
  height: 22px;
}


